<div id="preloader">
    <div class="roya">
      <span>R</span>
      <span>O</span>
      <span>Y</span>
      <span>A</span>
    </div>
  </div>

  
 <script>
    window.addEventListener("load", () => {
      const preloader = document.getElementById("preloader");

      preloader.classList.add("hidden");

      setTimeout(() => {
        preloader.style.display = "none";
        document.body.classList.add("loaded");

        // ✅ إعادة التمرير
        document.body.style.overflow = "auto";
        document.documentElement.style.overflow = "auto";
      }, 700);
    });
  </script>